<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connString" connectionString="Server=.;DataBase=MesBobbinAMR;Uid=kiswire;Pwd=kiswire" />
		<add name="connString2" connectionString="Server=.;DataBase=KiswireAmrMon;Uid=kiswire;Pwd=kiswire" />
	</connectionStrings>
	<appSettings>
		<add key="IOStateAddress" value="42"/>
		<add key="WorkStateAddress" value="0" />		<!-- Rack/Bonnin : 0, Product/Spool : 223 -->
		<add key="BlockStateAddress" value="32" />
		<add key="OnlineStateAddress" value="40" />
		<add key="TagAddress" value="210" />			<!-- Rack : 210, Bonnin/Product/Spool : 211 -->
		<add key="ModbusServer" value="127.0.0.1" />
		
		<!-- RACK_AMR01		: 1,	RACK_AMR02		: 3,	RACK_AMR03 : 4,	RACK_AMR04 : 5,	RACK_AMR05 : 11 -->
		<!-- BOBBIN_AMR01	: 2,	BOBBIN_AMR02	: 6														-->
		<!-- SPOOL_AMR01	: 7,	SPOOL_AMR02		: 8														-->
		<!-- PRODUCT_AMR01	: 9,	PRODUCT_AMR02	:10														-->
		<add key="AmrName" value="BOBBIN_AMR01" />
		<add key="AmrID" value="2" />
		
		<add key="DataBase" value="true"/>			<!-- Update AMR database -->
		<add key="DataBase2" value="true"/>			<!-- Update coord, alarm, blocked on server database -->
		<add key="DataBase3" value="true"/>			<!-- Update status, rfid and copy alarms on server database -->
	</appSettings>
</configuration>